.home {

    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;

    font-size: 2.5vmin;
    /* color: white */
    
}

/* .scrollIcon {
    justify-self: flex-end;
} */